* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
    background: #FFFFFA;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}


.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #021718;
    font-size: 24px;
    font-family: Poppins, sans-serif;
    text-decoration: none;
}

/*Header*/

.header-container {
    background: #ffe67c url(public/img/Blobs.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    color: #07393C;
    margin-bottom: 24px;
}

header a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;

    background: #295F2E;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 12px 48px;

    display: inline-block;
    transition: 300ms
}

header a:hover {
    transform: translateY(-8px);
}

header p {
    font-size: 24px;
    line-height: 42px;
    color: #021718;
    width: 467px;
    margin-bottom: 48px;
}


/*Social Icons*/

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0px 24px;
}

/*Hero image*/

header .hero-image {
    position: relative;
}

header .hero-image img {
    transition: 300ms;
    position: relative;
    z-index: 100;
}

header .hero-image img:hover {
    transform: rotate(-6deg);
}

header .hero-image .photo-bg {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 0;
    top: 0;

    background: #44A1A0;
    box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.5);
    transform: rotate(-9.48deg);
}